/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --backgroundColor: #222;
  --primaryColor: #ebebeb;
  --secondaryColor: #999;
  --textColor: #fff;
  --primaryFont: "Cairo", sans-serif;

  --light: "#fff";
  --dark: "#222";

  /* Pokemon types */
  --grass: #9bcc50;
  --fire: #fd7d24;
  --water: #4592c4;
  --bug: #964b00;
  --normal: #a3abaf;
  --poison: #b97fc9;
  --electric: #eed535;
  --dragon: #f16e57;
  --fairy: #fdb9e9;
  --ghost: #7b62a3;
  --ground: #ab9842;
  --psychic: #f366b9;
  --steel: #9eb6b7;
  --dark: #707070;
  --fighting: #d56723;
  --ice: #51c4e7;
  --rock: #a38c21;
}

body,
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.container {
  width: 100vw;
  max-width: 1200px;
  padding-inline: 50px;
  margin: 0 auto;
  font-family: var(--primaryFont);
  min-height: 100vh;
  padding-bottom: 2rem;
}

/* HEADER */

.logo {
  width: auto;
  font-size: 2rem;
  color: var(--primaryColor);
  font-weight: 700;
  position: relative;
  z-index: 2;
}

.logo span {
  color: var(--secondaryColor);
}

.logo::after {
  content: "";
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    var(--secondaryColor) 0%,
    var(--primaryColor) 100%
  );
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#search-form {
  width: 100%;
  max-width: 250px;
}

#search-form input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 5px;
  background: none;
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: var(--textColor);
}

#search-form input::placeholder {
  color: #d3d3d3;
  font-family: var(--primaryFont);
}

/* THEME SWITCH */

.theme-switch__open {
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
}

.theme-switch {
  height: 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: absolute;
  top: 50px;
  right: 23px;
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem 0.5rem;
  border-radius: 25px;
  transition: 0.3s ease;
}

.theme-switch.menu-open {
  height: 175px;
  background-color: #ebebeb;
  z-index: 10;
}

.theme-switch .theme-switch__btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.theme-switch.menu-open .theme-switch__btn {
  opacity: 1;
}

.theme-switch.menu-open .theme-switch__btn.theme-light {
  background-color: var(--light);
  border: 1px solid #ccc;
}

.theme-switch.menu-open .theme-switch__btn.theme-dark {
  background-color: var(--dark);
}

.theme-switch.menu-open .theme-switch__btn.theme-grass {
  background-color: var(--grass);
}

.theme-switch.menu-open .theme-switch__btn.theme-fire {
  background-color: var(--fire);
}

.theme-switch.menu-open .theme-switch__btn.theme-water {
  background-color: var(--water);
}

.theme-switch.menu-open .theme-switch__btn.theme-rock {
  background-color: var(--rock);
}

.theme-switch.menu-open .theme-switch__btn.theme-poison {
  background-color: var(--poison);
}

.theme-switch.menu-open .theme-switch__btn.theme-fairy {
  background-color: var(--fairy);
}

/* HOME */
#pokemons {
  width: 100%;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemons .pokemons__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

#pokemons .pokemons__container.is_empty {
  grid-template-columns: 1fr !important;
  justify-content: center !important;
  min-height: 50vh;
}

#pokemons .pokemons__container.is_empty > div {
  justify-content: center;
}

#pokemons .search-label {
  padding: 0.1rem 1.3rem;
  border-radius: 25px;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  align-self: flex-start;
  margin-bottom: 2rem;
  cursor: pointer;
}

#pokemons .pokemon-card {
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--textColor);
  transition: 0.2s ease;
}

#pokemons .pokemon-card:hover {
  transform: scale(1.1);
}

#pokemons .pokemon-card .pokemon-card__img {
  width: 100%;
  border-radius: 7px;
}

#pokemons .pokemon-card .pokemon-card__info-wrapper {
  height: 100%;
  padding: 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
  position: relative;
}

#pokemons .pokemon-card .pokemon-card__info-wrapper .pokemon-card__id {
  position: absolute;
  top: -5px;
  right: 13px;
  font-size: 15px;
  line-height: 10px;
  padding-inline: 0.5rem;
  background-color: var(--backgroundColor);
}

/* CUSTOM CARD STYLING BY POKEMON TYPE */

.pokemon-card[pokemontype="grass"] .pokemon-card__info-wrapper {
  border-color: var(--grass);
  color: var(--grass);
}

.pokemon-card[pokemontype="fire"] .pokemon-card__info-wrapper {
  border-color: var(--fire);
  color: var(--fire);
}

.pokemon-card[pokemontype="water"] .pokemon-card__info-wrapper {
  border-color: var(--water);
  color: var(--water);
}

.pokemon-card[pokemontype="bug"] .pokemon-card__info-wrapper {
  border-color: var(--bug);
  color: var(--bug);
}

.pokemon-card[pokemontype="normal"] .pokemon-card__info-wrapper {
  border-color: var(--normal);
  color: var(--normal);
}

.pokemon-card[pokemontype="poison"] .pokemon-card__info-wrapper {
  border-color: var(--poison);
  color: var(--poison);
}

.pokemon-card[pokemontype="electric"] .pokemon-card__info-wrapper {
  border-color: var(--electric);
  color: var(--electric);
}

.pokemon-card[pokemontype="dragon"] .pokemon-card__info-wrapper {
  border-color: var(--dragon);
  color: var(--dragon);
}

.pokemon-card[pokemontype="fairy"] .pokemon-card__info-wrapper {
  border-color: var(--fairy);
  color: var(--fairy);
}

.pokemon-card[pokemontype="ghost"] .pokemon-card__info-wrapper {
  border-color: var(--ghost);
  color: var(--ghost);
}

.pokemon-card[pokemontype="ground"] .pokemon-card__info-wrapper {
  border-color: var(--ground);
  color: var(--ground);
}

.pokemon-card[pokemontype="psychic"] .pokemon-card__info-wrapper {
  border-color: var(--psychic);
  color: var(--psychic);
}

.pokemon-card[pokemontype="steel"] .pokemon-card__info-wrapper {
  border-color: var(--steel);
  color: var(--steel);
}

.pokemon-card[pokemontype="dark"] .pokemon-card__info-wrapper {
  border-color: var(--dark);
  color: var(--dark);
}

.pokemon-card[pokemontype="fighting"] .pokemon-card__info-wrapper {
  border-color: var(--fighting);
  color: var(--fighting);
}

.pokemon-card[pokemontype="ice"] .pokemon-card__info-wrapper {
  border-color: var(--ice);
  color: var(--ice);
}

.pokemon-card[pokemontype="rock"] .pokemon-card__info-wrapper {
  border-color: var(--rock);
  color: var(--rock);
}

/* END CUSTOM CARD STYLING BY POKEMON TYPE */

.pokemon-details__controls button {
  color: var(--textColor) !important;
}

#pokemons .pokemon-card .pokemon-card__name {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: unset !important;
}

#pokemons .pokemons__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.button {
  height: 50px;
  width: 50px;
  padding: 1rem;
  border: none;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: var(--secondaryColor);
  color: var(--backgroundColor);
  border-radius: 50%;
}

.button:hover {
  background-color: var(--primaryColor);
}

.prev-btn {
  margin-right: auto;
}

.next-btn {
  margin-left: auto;
}

.home-btn {
  padding: 0px;
  background: none !important;
  transition: 0.4s ease;
  position: absolute;
  top: 15px;
  left: 20px;
}

.home-btn:hover {
  transform: scale(1.1);
}

/* SINGLE POKEMON VIEW */
#pokemon-details,
#pokemon-details .pokemon-details__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokemon-details {
  max-width: 700px;
  margin: 0 auto;
}

#pokemon-details .pokemon-details__header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 0px 0px 7px 7px;
  margin-bottom: 1rem;
}

#pokemon-details .pokemon-details__title {
  font-size: 2.7rem;
}

#pokemon-details .pokemon-details__title span {
  color: #ccc !important;
}

#pokemon-details .pokemon-details__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#pokemon-details .pokemon-details__info img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 7px;
}

#pokemon-details .pokemon-details__info .pokemon-details__info__table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

#pokemon-details .pokemon-details__info .pokemon-details__info__table > div {
  text-transform: capitalize;
}

#pokemon-details
  .pokemon-details__info
  .pokemon-details__info__table
  > div
  > h4 {
  color: var(--primaryColor);
}

#pokemon-details .pokemon-details__controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#pokemon-details .pokemon-details__abilities{
  width: 100%;
  text-align: center;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#pokemon-details .pokemon-details__abilities__container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

#pokemon-details .pokemon-details__abilities__container span{
  text-transform: capitalize;
  padding: .5rem 1.5rem;
  background-color: var(--secondaryColor);
  border-radius: 25px;
}

#pokemon-details .pokemon-details__featured{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primaryColor);
  padding: 1rem 2rem;
  margin-block: 2rem;
}

#pokemon-details .pokemon-details__featured > div{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .3rem 1rem;
  text-transform: capitalize;
  color: var(--secondaryColor);
  font-weight: 700;
}

/* QUERIES */
@media screen and (max-width: 1024px) {
  #pokemons .pokemons__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .header .logo {
    margin-bottom: 2rem;
  }

  .header #search-form {
    max-width: unset;
    z-index: 3;
  }

  .header #search-form input {
    font-size: 1.3rem;
  }

  #pokemons {
    min-height: calc(100vh - 230px);
  }

  #pokemons .pokemons__container {
    grid-template-columns: repeat(3, 1fr);
  }

  #pokemons .search-label {
    display: none;
  }

  #pokemon-details .pokemon-details__info {
    flex-direction: column;
  }

  #pokemon-details .pokemon-details__info .pokemon-details__info__table {
    padding: 1rem;
    padding-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #pokemon-details .pokemon-details__info .pokemon-details__info__table > div {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .container {
    padding-inline: 15px;
  }

  #pokemons .pokemons__container {
    z-index: 1;
    gap: 1rem;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  #pokemons .pokemons__container {
    grid-template-columns: repeat(2, 1fr);
  }

  #search-form {
    max-width: 150px;
  }
}

@media screen and (max-width: 430px) {
  #pokemon-details .pokemon-details__info .pokemon-details__info__table > div {
    padding-bottom: 3rem;
  }

  #pokemon-details .pokemon-details__info .pokemon-details__info__table {
    grid-template-columns: 1fr 1fr;
  }
}
